.mediaViewInfo {
  --web-view-name: Screen 4;
  --web-view-id: Screen_4;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Screen_4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Screen_4 {
  position: absolute;
  width: 100%;
  height: 844px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Screen 4;
  --web-view-id: Screen_4;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#Light_Elevation00dp {
  position: absolute;
  width: 100%;
  height: 56px;
  left: 0px;
  top: 24px;
  overflow: visible;
}
#Shadow {
  mix-blend-mode: multiply;
  position: absolute;
  width: 100%;
  height: 56px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_q {
  fill: rgba(255, 255, 255, 1);
  width: 100%;
}
.Rectangle_q {
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.141));
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 71px;
  left: 0px;
  top: 0px;
}
#Rectangle_q {
  fill: rgba(255, 255, 255, 1);
  width: 100%;
}
.Rectangle_q {
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.141));
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 71px;
  left: 0px;
  top: 0px;
}
#Rectangle_q {
  fill: rgba(255, 255, 255, 1);
  width: 100%;
}
.Rectangle_q {
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.141));
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 71px;
  left: 0px;
  top: 0px;
}
#Primary {
  fill: rgba(98, 0, 238, 1);
}
.Primary {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 56px;
  left: 0px;
  top: 0px;
}
#Mask_Group {
  position: absolute;
  width: 100%;
  height: 56px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_t {
  fill: rgba(86, 0, 232, 1);
}
.Rectangle_t {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 24px;
  left: 0px;
  top: 0px;
}
#Mask {
  fill: rgba(255, 255, 255, 0.38);
}
.Mask {
  overflow: visible;
  position: absolute;
  width: 46px;
  height: 10px;
  left: 336px;
  top: 7px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Nasdaq_Banglore {
  left: 45px;
  top: 100px;
  position: absolute;
  overflow: visible;
  width: 190px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -3.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: rgba(38, 50, 56, 1);
}
#iconcontentcreate_24px {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 342px;
  top: 111px;
  overflow: visible;
}
#Boundary {
  fill: transparent;
}
.Boundary {
  position: absolute;
  overflow: visible;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;
}
#n_Color {
  fill: rgba(38, 50, 56, 1);
}
.n_Color {
  overflow: visible;
  position: absolute;
  width: 18.001px;
  height: 18.002px;
  left: 3px;
  top: 3px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#iconmapsplace_24px {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 17px;
  top: 106px;
  overflow: visible;
}
#Boundary_ {
  fill: transparent;
}
.Boundary_ {
  position: absolute;
  overflow: visible;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;
}
#n_Color_ {
  fill: rgba(98, 0, 238, 1);
}
.n_Color_ {
  overflow: visible;
  position: absolute;
  width: 14px;
  height: 20px;
  left: 5px;
  top: 2px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#n_6_Nov_Monday {
  left: 45px;
  top: 132px;
  position: absolute;
  overflow: visible;
  width: 100px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -8.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(161, 161, 161, 1);
}
#Group_37 {
  position: absolute;
  width: 337px;
  height: 16px;
  left: 29px;
  top: 169px;
  overflow: visible;
}
#n__unselected {
  left: 20px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 66px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -9.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(161, 161, 161, 1);
}
#n__selected {
  left: 286px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 52px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -9.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(161, 161, 161, 1);
}
#Group_33 {
  position: absolute;
  width: 16.5px;
  height: 13px;
  left: 0px;
  top: 2px;
  overflow: visible;
}
#Rectangle_44 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_44 {
  position: absolute;
  overflow: visible;
  width: 13px;
  height: 11px;
  left: 1.5px;
  top: 1px;
}
#Rectangle_44_-_Outline {
  fill: rgba(112, 112, 112, 1);
}
.Rectangle_44_-_Outline {
  overflow: visible;
  position: absolute;
  width: 12.444px;
  height: 10.667px;
  left: 1.778px;
  top: 1.463px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_3 {
  position: absolute;
  width: 16.5px;
  height: 9.167px;
  left: 0px;
  top: 3.833px;
  overflow: visible;
}
#Rectangle_45 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_45 {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 8px;
  left: 12.5px;
  top: 0.167px;
}
#Rectangle_45_-_Outline {
  fill: rgba(112, 112, 112, 1);
}
.Rectangle_45_-_Outline {
  overflow: visible;
  position: absolute;
  width: 3.556px;
  height: 8.296px;
  left: 12.444px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_46 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_46 {
  position: absolute;
  overflow: visible;
  width: 3px;
  height: 9px;
  left: 0.5px;
  top: 0.167px;
}
#Rectangle_46_-_Outline {
  fill: rgba(112, 112, 112, 1);
}
.Rectangle_46_-_Outline {
  overflow: visible;
  position: absolute;
  width: 3.556px;
  height: 8.296px;
  left: 0px;
  top: 0.593px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_47 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_47 {
  width: 4px;
  height: 7px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 6, -1.5) rotate(-90deg);
  transform-origin: center;
}
#Rectangle_47_-_Outline {
  fill: rgba(112, 112, 112, 1);
}
.Rectangle_47_-_Outline {
  overflow: visible;
  position: absolute;
  width: 3.556px;
  height: 7.111px;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 5.9259, -1.5) rotate(-90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Group_34 {
  position: absolute;
  width: 16.5px;
  height: 13px;
  left: 139.233px;
  top: 2px;
  overflow: visible;
}
#Rectangle_44_bh {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_44_bh {
  position: absolute;
  overflow: visible;
  width: 13px;
  height: 11px;
  left: 1.5px;
  top: 1px;
}
#Rectangle_44_-_Outline_bi {
  fill: rgba(112, 112, 112, 1);
}
.Rectangle_44_-_Outline_bi {
  overflow: visible;
  position: absolute;
  width: 12.444px;
  height: 10.667px;
  left: 1.778px;
  top: 1.463px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_3_bj {
  position: absolute;
  width: 16.5px;
  height: 9.167px;
  left: 0px;
  top: 3.833px;
  overflow: visible;
}
#Rectangle_45_bk {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_45_bk {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 8px;
  left: 12.5px;
  top: 0.167px;
}
#Rectangle_45_-_Outline_bl {
  fill: rgba(112, 112, 112, 1);
}
.Rectangle_45_-_Outline_bl {
  overflow: visible;
  position: absolute;
  width: 3.556px;
  height: 8.296px;
  left: 12.444px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_46_bm {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_46_bm {
  position: absolute;
  overflow: visible;
  width: 3px;
  height: 9px;
  left: 0.5px;
  top: 0.167px;
}
#Rectangle_46_-_Outline_bn {
  fill: rgba(112, 112, 112, 1);
}
.Rectangle_46_-_Outline_bn {
  overflow: visible;
  position: absolute;
  width: 3.556px;
  height: 8.296px;
  left: 0px;
  top: 0.593px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_47_bo {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_47_bo {
  width: 4px;
  height: 7px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 6, -1.5) rotate(-90deg);
  transform-origin: center;
}
#Rectangle_47_-_Outline_bp {
  fill: rgba(112, 112, 112, 1);
}
.Rectangle_47_-_Outline_bp {
  overflow: visible;
  position: absolute;
  width: 3.556px;
  height: 7.111px;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 5.9259, -1.5) rotate(-90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Group_35 {
  position: absolute;
  width: 16px;
  height: 12.444px;
  left: 139.214px;
  top: 2.278px;
  overflow: visible;
}
#Path_140 {
  fill: rgba(216, 216, 216, 1);
}
.Path_140 {
  overflow: visible;
  position: absolute;
  width: 13px;
  height: 11px;
  left: 1.5px;
  top: 1.018px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_44_-_Outline_bs {
  fill: rgba(112, 112, 112, 1);
}
.Rectangle_44_-_Outline_bs {
  overflow: visible;
  position: absolute;
  width: 12.444px;
  height: 10.667px;
  left: 1.778px;
  top: 1.185px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_3_bt {
  position: absolute;
  width: 16px;
  height: 8.889px;
  left: 0px;
  top: 3.556px;
  overflow: visible;
}
#Path_141 {
  fill: rgba(216, 216, 216, 1);
}
.Path_141 {
  overflow: visible;
  position: absolute;
  width: 3.5px;
  height: 8px;
  left: 12.5px;
  top: 0.167px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_45_-_Outline_bv {
  fill: rgba(112, 112, 112, 1);
}
.Rectangle_45_-_Outline_bv {
  overflow: visible;
  position: absolute;
  width: 3.556px;
  height: 8.296px;
  left: 12.444px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_142 {
  fill: rgba(216, 216, 216, 1);
}
.Path_142 {
  overflow: visible;
  position: absolute;
  width: 3px;
  height: 7.383px;
  left: 0.556px;
  top: 1.167px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_46_-_Outline_bx {
  fill: rgba(112, 112, 112, 1);
}
.Rectangle_46_-_Outline_bx {
  overflow: visible;
  position: absolute;
  width: 3.556px;
  height: 8.296px;
  left: 0px;
  top: 0.593px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_47_by {
  fill: rgba(216, 216, 216, 1);
}
.Rectangle_47_by {
  width: 3.556px;
  height: 7px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 5.9814, -1.7222)
    rotate(-90deg);
  transform-origin: center;
}
#Rectangle_47_-_Outline_bz {
  fill: rgba(112, 112, 112, 1);
}
.Rectangle_47_-_Outline_bz {
  overflow: visible;
  position: absolute;
  width: 3.556px;
  height: 7.111px;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 5.9259, -1.7778)
    rotate(-90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#Group_36 {
  position: absolute;
  width: 19.286px;
  height: 15px;
  left: 257.997px;
  top: 1px;
  overflow: visible;
}
#Rectangle_44_b {
  fill: rgba(86, 0, 232, 1);
}
.Rectangle_44_b {
  position: absolute;
  overflow: visible;
  width: 15px;
  height: 13px;
  left: 2.143px;
  top: 1px;
}
#Rectangle_44_-_Outline_b {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_44_-_Outline_b {
  overflow: visible;
  position: absolute;
  width: 15px;
  height: 12.857px;
  left: 2.143px;
  top: 1.429px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_3_b {
  position: absolute;
  width: 19.286px;
  height: 11px;
  left: 0px;
  top: 4px;
  overflow: visible;
}
#Rectangle_45_b {
  fill: rgba(86, 0, 232, 1);
}
.Rectangle_45_b {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 10px;
  left: 15.143px;
  top: 0px;
}
#Rectangle_45_-_Outline_b {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_45_-_Outline_b {
  overflow: visible;
  position: absolute;
  width: 4.286px;
  height: 10px;
  left: 15px;
  top: 0.286px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_46_b {
  fill: rgba(86, 0, 232, 1);
}
.Rectangle_46_b {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 10px;
  left: 0.143px;
  top: 1px;
}
#Rectangle_46_-_Outline_b {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_46_-_Outline_b {
  overflow: visible;
  position: absolute;
  width: 4.286px;
  height: 10px;
  left: 0px;
  top: 1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_47_b {
  fill: rgba(86, 0, 232, 1);
}
.Rectangle_47_b {
  width: 4px;
  height: 8px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 7.1429, -2) rotate(-90deg);
  transform-origin: center;
}
#Rectangle_47_-_Outline_b {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_47_-_Outline_b {
  overflow: visible;
  position: absolute;
  width: 4.286px;
  height: 8.571px;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 7.1429, -2.1428)
    rotate(-90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}
#n__booked {
  left: 162px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 47px;
  white-space: nowrap;
  line-height: 31px;
  margin-top: -9.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(161, 161, 161, 1);
}
#Rectangle_48 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_48 {
  position: absolute;
  overflow: visible;
  width: 73px;
  height: 30px;
  left: 271px;
  top: 244px;
}
#Rectangle_64 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_64 {
  position: absolute;
  overflow: visible;
  width: 73px;
  height: 30px;
  left: 51px;
  top: 244px;
}
#Rectangle_83 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_83 {
  position: absolute;
  overflow: visible;
  width: 73px;
  height: 30px;
  left: 126px;
  top: 409px;
}
#Rectangle_86 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_86 {
  position: absolute;
  overflow: visible;
  width: 73px;
  height: 30px;
  left: 126px;
  top: 244px;
}
#Rectangle_56 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_56 {
  position: absolute;
  overflow: visible;
  width: 73px;
  height: 30px;
  left: 271px;
  top: 409px;
}
#Rectangle_70 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_70 {
  position: absolute;
  overflow: visible;
  width: 73px;
  height: 30px;
  left: 51px;
  top: 409px;
}
#Rectangle_49 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_49 {
  position: absolute;
  overflow: visible;
  width: 73px;
  height: 30px;
  left: 271px;
  top: 279px;
}
#Rectangle_65 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_65 {
  position: absolute;
  overflow: visible;
  width: 73px;
  height: 30px;
  left: 51px;
  top: 279px;
}
#Rectangle_82 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_82 {
  position: absolute;
  overflow: visible;
  width: 73px;
  height: 30px;
  left: 126px;
  top: 444px;
}
#Rectangle_87 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_87 {
  position: absolute;
  overflow: visible;
  width: 73px;
  height: 30px;
  left: 126px;
  top: 279px;
}
#Rectangle_57 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_57 {
  position: absolute;
  overflow: visible;
  width: 73px;
  height: 30px;
  left: 271px;
  top: 444px;
}
#Rectangle_71 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_71 {
  position: absolute;
  overflow: visible;
  width: 73px;
  height: 30px;
  left: 51px;
  top: 444px;
}
#Rectangle_50 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_50 {
  position: absolute;
  overflow: visible;
  width: 23px;
  height: 52px;
  left: 343px;
  top: 222px;
}
#Rectangle_76 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_76 {
  position: absolute;
  overflow: visible;
  width: 23px;
  height: 62px;
  left: 29px;
  top: 212px;
}
#Rectangle_58 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_58 {
  position: absolute;
  overflow: visible;
  width: 23px;
  height: 62px;
  left: 343px;
  top: 377px;
}
#Rectangle_77 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_77 {
  position: absolute;
  overflow: visible;
  width: 23px;
  height: 62px;
  left: 29px;
  top: 377px;
}
#Rectangle_51 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_51 {
  position: absolute;
  overflow: visible;
  width: 23px;
  height: 52px;
  left: 343px;
  top: 279px;
}
#Rectangle_78 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_78 {
  position: absolute;
  overflow: visible;
  width: 23px;
  height: 62px;
  left: 29px;
  top: 279px;
}
#Rectangle_96 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_96 {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 114px;
  left: 268px;
  top: 222px;
}
#Rectangle_97 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_97 {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 114px;
  left: 268px;
  top: 382px;
}
#Rectangle_59 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_59 {
  position: absolute;
  overflow: visible;
  width: 23px;
  height: 62px;
  left: 343px;
  top: 444px;
}
#Rectangle_79 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_79 {
  position: absolute;
  overflow: visible;
  width: 23px;
  height: 62px;
  left: 29px;
  top: 444px;
}
#Rectangle_84 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_84 {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 92px;
  left: 123px;
  top: 398px;
}
#Rectangle_85 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_85 {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 92px;
  left: 123px;
  top: 233px;
}
#Group_6 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 294px;
  top: 212px;
  overflow: visible;
}
#Rectangle_44_c {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_c {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 2px;
}
#Group_3_c {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 6px;
  overflow: visible;
}
#Rectangle_45_c {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_c {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 0px;
}
#Rectangle_46_c {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_c {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 1px;
}
#Rectangle_47_c {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_c {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(826px, -4px) matrix(1, 0, 0, 1, -815, 1) rotate(-90deg);
  transform-origin: center;
}
#Group_12 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 74px;
  top: 212px;
  overflow: visible;
}
#Rectangle_44_da {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_da {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 2px;
}
#Group_3_da {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 6px;
  overflow: visible;
}
#Rectangle_45_da {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_da {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 0px;
}
#Rectangle_46_da {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_da {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 1px;
}
#Rectangle_47_da {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_da {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 10, -3) rotate(-90deg);
  transform-origin: center;
}
#Group_23 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 151px;
  top: 212px;
  overflow: visible;
}
#Rectangle_44_dc {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_dc {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 2px;
}
#Group_3_dd {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 6px;
  overflow: visible;
}
#Rectangle_45_de {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_de {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 0px;
}
#Rectangle_46_df {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_df {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 1px;
}
#Rectangle_47_dg {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_dg {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 10, -3) rotate(-90deg);
  transform-origin: center;
}
#Group_9 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 294px;
  top: 377px;
  overflow: visible;
}
#Rectangle_44_di {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_di {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 2px;
}
#Group_3_dj {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 6px;
  overflow: visible;
}
#Rectangle_45_dk {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_dk {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 0px;
}
#Rectangle_46_dl {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_dl {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 1px;
}
#Rectangle_47_dm {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_dm {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(826px, -4px) matrix(1, 0, 0, 1, -815, 1) rotate(-90deg);
  transform-origin: center;
}
#Group_32 {
  transform: matrix(1, 0, 0, 1, 74, 320) rotate(180deg);
  transform-origin: center;
  position: absolute;
  width: 27px;
  height: 21px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_44_do {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_do {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 1px;
}
#Group_3_dp {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_45_dq {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_dq {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 1px;
}
#Rectangle_46_dr {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_dr {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 0px;
}
#Rectangle_47_ds {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_ds {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(-799px, 25px) matrix(1, 0, 0, 1, -815, 1) rotate(-90deg);
  transform-origin: center;
}
#Group_13 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 74px;
  top: 377px;
  overflow: visible;
}
#Rectangle_44_du {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_du {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 2px;
}
#Group_3_dv {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 6px;
  overflow: visible;
}
#Rectangle_45_dw {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_dw {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 0px;
}
#Rectangle_46_dx {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_dx {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 1px;
}
#Rectangle_47_dy {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_dy {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 10, -3) rotate(-90deg);
  transform-origin: center;
}
#Group_38 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 149px;
  top: 377px;
  overflow: visible;
  transition: all 0.30000001192092896s ease-out;
  --web-animation: fadein 0.30000001192092896s ease-out;
  --web-action-type: page;
  --web-action-target: Screen_5.html;
  cursor: pointer;
}
#Rectangle_44_d {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_d {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 2px;
}
#Group_3_d {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 6px;
  overflow: visible;
}
#Rectangle_45_d {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_d {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 0px;
}
#Rectangle_46_d {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_d {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 1px;
}
#Rectangle_47_d {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_d {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 10, -3) rotate(-90deg);
  transform-origin: center;
}
#Group_30 {
  transform: matrix(1, 0, 0, 1, 291, 598) rotate(90deg);
  transform-origin: center;
  position: absolute;
  width: 27px;
  height: 21px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_44_ea {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_ea {
  position: absolute;
  overflow: visible;
  width: 18px;
  height: 21px;
  left: 1px;
  top: 3px;
}
#Group_3_ea {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_45_ea {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_ea {
  position: absolute;
  overflow: visible;
  width: 14px;
  height: 6px;
  left: 1px;
  top: 21px;
}
#Rectangle_46_ea {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_ea {
  position: absolute;
  overflow: visible;
  width: 14px;
  height: 6px;
  left: 0px;
  top: 0px;
}
#Rectangle_47_ea {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_ea {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(21px, 0px) matrix(1, 0, 0, 1, 10, -3) rotate(-90deg);
  transform-origin: center;
}
#Rectangle_44_eb {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_eb {
  width: 21px;
  height: 18px;
  position: absolute;
  overflow: visible;
  transform: matrix(1, 0, 0, 1, 46.5, 599.5) rotate(90deg);
  transform-origin: center;
}
#Group_3_ec {
  transform: matrix(1, 0, 0, 1, 46, 601) rotate(90deg);
  transform-origin: center;
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_45_ed {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_ed {
  position: absolute;
  overflow: visible;
  width: 14px;
  height: 6px;
  left: 0px;
  top: 21px;
}
#Rectangle_46_ee {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_ee {
  position: absolute;
  overflow: visible;
  width: 14px;
  height: 6px;
  left: 1px;
  top: 0px;
}
#Rectangle_47_ef {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_ef {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: matrix(1, 0, 0, 1, 46, 602) rotate(180deg);
  transform-origin: center;
}
#Group_24 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 113px;
  top: 545px;
  overflow: visible;
}
#Rectangle_44_eh {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_eh {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 2px;
}
#Group_3_ei {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 6px;
  overflow: visible;
}
#Rectangle_45_ej {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_ej {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 0px;
}
#Rectangle_46_ek {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_ek {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 1px;
}
#Rectangle_47_el {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_el {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 10, -3) rotate(-90deg);
  transform-origin: center;
}
#Group_29 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 113px;
  top: 649px;
  overflow: visible;
}
#Rectangle_44_en {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_en {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 1px;
}
#Group_3_eo {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_45_ep {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_ep {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 1px;
}
#Rectangle_46_eq {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_eq {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 0px;
}
#Rectangle_47_er {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_er {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 10, 12) rotate(90deg);
  transform-origin: center;
}
#Rectangle_44_es {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_es {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 175px;
  top: 547px;
}
#Group_3_et {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 172px;
  top: 551px;
  overflow: visible;
}
#Rectangle_45_eu {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_eu {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 0px;
}
#Rectangle_46_ev {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_ev {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 1px;
}
#Rectangle_47_ew {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_ew {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: matrix(1, 0, 0, 1, 182, 542) rotate(-90deg);
  transform-origin: center;
}
#Group_27 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 172px;
  top: 649px;
  overflow: visible;
}
#Rectangle_44_ey {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_ey {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 1px;
}
#Group_3_ez {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_45_e {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_e {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 1px;
}
#Rectangle_46_e {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_e {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 0px;
}
#Rectangle_47_e {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_e {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 10, 12) rotate(90deg);
  transform-origin: center;
}
#Rectangle_44_e {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_e {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 234px;
  top: 547px;
}
#Group_3_e {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 231px;
  top: 551px;
  overflow: visible;
}
#Rectangle_45_fa {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_fa {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 0px;
}
#Rectangle_46_fa {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_fa {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 1px;
}
#Rectangle_47_fa {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_fa {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: matrix(1, 0, 0, 1, 241, 542) rotate(-90deg);
  transform-origin: center;
}
#Group_28 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 231px;
  top: 649px;
  overflow: visible;
}
#Rectangle_44_fa {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_44_fa {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 1px;
}
#Group_3_fa {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_45_fb {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_45_fb {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 1px;
}
#Rectangle_46_fc {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_46_fc {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 0px;
}
#Rectangle_47_fd {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_47_fd {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 10, 12) rotate(90deg);
  transform-origin: center;
}
#Group_8 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 294px;
  top: 320px;
  overflow: visible;
}
#Rectangle_52 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_52 {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 1px;
}
#Group_7 {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_53 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_53 {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 1px;
}
#Rectangle_54 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_54 {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 0px;
}
#Rectangle_55 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_55 {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 11, 12) rotate(90deg);
  transform-origin: center;
}
#Group_22 {
  transform: matrix(1, 0, 0, 1, 151, 320) rotate(180deg);
  transform-origin: center;
  position: absolute;
  width: 27px;
  height: 21px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_92 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_92 {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 1px;
}
#Group_21 {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_93 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_93 {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 1px;
}
#Rectangle_94 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_94 {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 0px;
}
#Rectangle_95 {
  fill: rgba(216, 216, 216, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_95 {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(-799px, 25px) matrix(1, 0, 0, 1, -815, 1) rotate(-90deg);
  transform-origin: center;
}
#Scroll_Group_3 {
  mix-blend-mode: normal;
  position: absolute;
  width: 31px;
  height: 21px;
  left: 292px;
  top: 485px;
  overflow: hidden;
}
#Group_11 {
  transform: translate(2px, 0px) matrix(1, 0, 0, 1, 0, 0) rotate(180deg);
  transform-origin: center;
  position: absolute;
  width: 27px;
  height: 21px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_60 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_60 {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 1px;
}
#Group_10 {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_61 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_61 {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 1px;
}
#Rectangle_62 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_62 {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 0px;
}
#Rectangle_63 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_63 {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(-799px, 25px) matrix(1, 0, 0, 1, -815, 1) rotate(-90deg);
  transform-origin: center;
}
#Scroll_Group_5 {
  mix-blend-mode: normal;
  transform: matrix(1, 0, 0, 1, 149, 485) rotate(180deg);
  transform-origin: center;
  position: absolute;
  width: 31px;
  height: 21px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
#Group_17 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 2px;
  top: 0px;
  overflow: visible;
}
#Rectangle_72 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_72 {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 1px;
}
#Group_16 {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_73 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_73 {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 1px;
}
#Rectangle_74 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_74 {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 0px;
}
#Rectangle_75 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_75 {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(853px, 17px) matrix(1, 0, 0, 1, -815, 1) rotate(-90deg);
  transform-origin: center;
}
#Scroll_Group_6 {
  mix-blend-mode: normal;
  transform: matrix(1, 0, 0, 1, 72, 485) rotate(180deg);
  transform-origin: center;
  position: absolute;
  width: 31px;
  height: 21px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
#Group_20 {
  position: absolute;
  width: 27px;
  height: 21px;
  left: 2px;
  top: 0px;
  overflow: visible;
}
#Rectangle_88 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_88 {
  position: absolute;
  overflow: visible;
  width: 21px;
  height: 18px;
  left: 3px;
  top: 1px;
}
#Group_19 {
  position: absolute;
  width: 27px;
  height: 15px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_89 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_89 {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 21px;
  top: 1px;
}
#Rectangle_90 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_90 {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 14px;
  left: 0px;
  top: 0px;
}
#Rectangle_91 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_91 {
  width: 6px;
  height: 12px;
  position: absolute;
  overflow: visible;
  transform: translate(853px, 17px) matrix(1, 0, 0, 1, -815, 1) rotate(-90deg);
  transform-origin: center;
}
#Rectangle_98 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_98 {
  position: absolute;
  overflow: visible;
  width: 197px;
  height: 58px;
  left: 82px;
  top: 579px;
}
#Group_45 {
  position: absolute;
  width: 342px;
  height: 283px;
  left: 24px;
  top: 529px;
  overflow: visible;
  transition: all 0.30000001192092896s ease-out;
  --web-animation: fadein 0.30000001192092896s ease-out;
  --web-action-type: page;
  --web-action-target: Screen_3.html;
  cursor: pointer;
}
#Rectangle_99 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_99 {
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.102));
  position: absolute;
  overflow: visible;
  width: 378px;
  height: 319px;
  left: 0px;
  top: 0px;
}
#Group_47 {
  position: absolute;
  width: 289px;
  height: 47px;
  left: 30px;
  top: 26px;
  overflow: visible;
}
#Book_My_Desk {
  left: 0px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 181px;
  white-space: nowrap;
  line-height: 40px;
  margin-top: -6px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: rgba(86, 0, 232, 1);
}
#Why_you_should_use {
  left: 2px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 107px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -2.5px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(38, 50, 56, 1);
}
#iconalerterror_24px {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 265px;
  top: 13px;
  overflow: visible;
}
#Boundary_gi {
  fill: transparent;
}
.Boundary_gi {
  position: absolute;
  overflow: visible;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;
}
#n_Color_gj {
  fill: rgba(86, 0, 232, 1);
}
.n_Color_gj {
  overflow: visible;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_46 {
  position: absolute;
  width: 186px;
  height: 151px;
  left: 28px;
  top: 97px;
  overflow: visible;
}
#We_are_safe {
  left: 40px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 75px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(38, 50, 56, 1);
}
#Hygiene_environment_ {
  left: 40px;
  top: 44px;
  position: absolute;
  overflow: visible;
  width: 137px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(38, 50, 56, 1);
}
#Precise_desk_allocation {
  left: 40px;
  top: 88px;
  position: absolute;
  overflow: visible;
  width: 147px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(38, 50, 56, 1);
}
#Verified_location {
  left: 40px;
  top: 132px;
  position: absolute;
  overflow: visible;
  width: 104px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(38, 50, 56, 1);
}
#Group_41 {
  position: absolute;
  width: 14px;
  height: 20px;
  left: 3px;
  top: 126.001px;
  overflow: visible;
}
#Path_143 {
  fill: rgba(86, 0, 232, 1);
}
.Path_143 {
  overflow: visible;
  position: absolute;
  width: 14px;
  height: 20px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_144 {
  fill: rgba(86, 0, 232, 1);
}
.Path_144 {
  overflow: visible;
  position: absolute;
  width: 7.926px;
  height: 7.537px;
  left: 3.037px;
  top: 9px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_143_gs {
  fill: rgba(86, 0, 232, 1);
}
.Path_143_gs {
  overflow: visible;
  position: absolute;
  width: 19.71px;
  height: 15.001px;
  left: 3.29px;
  top: 87px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_144_gt {
  fill: rgba(86, 0, 232, 1);
}
.Path_144_gt {
  overflow: visible;
  position: absolute;
  width: 20px;
  height: 19px;
  left: 0px;
  top: 44.001px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_42 {
  position: absolute;
  width: 18.052px;
  height: 20.002px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Path_147 {
  fill: rgba(86, 0, 232, 1);
}
.Path_147 {
  overflow: visible;
  position: absolute;
  width: 18.052px;
  height: 20.002px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_148 {
  fill: rgba(86, 0, 232, 1);
}
.Path_148 {
  overflow: visible;
  position: absolute;
  width: 9.414px;
  height: 7.121px;
  left: 4.319px;
  top: 6.294px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
