.mediaViewInfo {
  --web-view-name: Screen 6;
  --web-view-id: Screen_6;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Screen_6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Screen_6 {
  position: absolute;
  width: 100%;
  height: 844px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Screen 6;
  --web-view-id: Screen_6;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Light_Elevation00dp {
  position: absolute;
  width: 100%;
  height: 56px;
  left: 0px;
  top: 24px;
  overflow: visible;
}
#Shadow {
  mix-blend-mode: multiply;
  position: absolute;
  width: 100%;
  height: 56px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_q {
  fill: rgba(255, 255, 255, 1);
  width: 100%;
}
.Rectangle_q {
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.141));
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 71px;
  left: 0px;
  top: 0px;
}
#Rectangle_q {
  fill: rgba(255, 255, 255, 1);
  width: 100%;
}
.Rectangle_q {
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.141));
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 71px;
  left: 0px;
  top: 0px;
}
#Rectangle_q {
  fill: rgba(255, 255, 255, 1);
  width: 100%;
}
.Rectangle_q {
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.141));
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 71px;
  left: 0px;
  top: 0px;
}
#Primary {
  fill: rgba(98, 0, 238, 1);
  width: 100%;
}
.Primary {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 56px;
  left: 0px;
  top: 0;
}
#Mask_Group {
  position: absolute;
  width: 100%;
  height: 56px;
  left: 0px;
  top: 0;
  overflow: visible;
}
#Rectangle_t {
  fill: rgba(86, 0, 232, 1);
}
.Rectangle_t {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 24px;
  left: 0px;
  top: 0px;
}
#Mask {
  fill: rgba(255, 255, 255, 0.38);
}
.Mask {
  overflow: visible;
  position: absolute;
  width: 46px;
  height: 10px;
  left: 336px;
  top: 7px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_56 {
  position: absolute;
  width: 152.613px;
  height: 42px;
  left: 30.387px;
  top: 753.358px;
  overflow: visible;
  --web-animation: fadein 0.30000001192092896s ease-out;
  --web-action-type: page;
  --web-action-target: Screen_3.html;
  cursor: pointer;
}
#Container {
  position: absolute;
  width: 152.613px;
  height: 42px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Light_Elevation02dp {
  position: absolute;
  width: 152.387px;
  height: 42px;
  left: 0.226px;
  top: 0px;
  overflow: visible;
}
#Shadow_y {
  mix-blend-mode: multiply;
  position: absolute;
  width: 152.387px;
  height: 42px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_ba {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_ba {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.141));
  position: absolute;
  overflow: visible;
  width: 158.387px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#Rectangle_ba {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_ba {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.141));
  position: absolute;
  overflow: visible;
  width: 158.387px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#Rectangle_ba {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_ba {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.141));
  position: absolute;
  overflow: visible;
  width: 158.387px;
  height: 48px;
  left: 0px;
  top: 0px;
}
#n__Color {
  fill: rgba(98, 0, 238, 1);
}
.n__Color {
  position: absolute;
  overflow: visible;
  width: 152.387px;
  height: 42px;
  left: 0.226px;
  top: 0px;
}
#n_States {
  position: absolute;
  width: 152.227px;
  height: 42px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#StatesLight_Primary_Container_ {
  fill: rgba(255, 255, 255, 0);
}
.StatesLight_Primary_Container_ {
  overflow: visible;
  position: absolute;
  width: 152.227px;
  height: 42px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#BOOK_AGAIN {
  left: 28.806px;
  top: 12px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.89px;
}
#Group_57 {
  position: absolute;
  width: 152.387px;
  height: 42px;
  left: 202.226px;
  top: 753.358px;
  overflow: visible;
}
#Container_ {
  position: absolute;
  width: 152.387px;
  height: 42px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Light_Elevation02dp_ {
  position: absolute;
  width: 152.387px;
  height: 42px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Shadow_ {
  mix-blend-mode: multiply;
  position: absolute;
  width: 152.387px;
  height: 42px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_bd {
  fill: transparent;
  stroke: rgba(86, 0, 232, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_bd {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.141));
  position: absolute;
  overflow: visible;
  width: 159.387px;
  height: 49px;
  left: 0px;
  top: 0px;
}
#Rectangle_bd {
  fill: transparent;
  stroke: rgba(86, 0, 232, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_bd {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.141));
  position: absolute;
  overflow: visible;
  width: 159.387px;
  height: 49px;
  left: 0px;
  top: 0px;
}
#Rectangle_bd {
  fill: transparent;
  stroke: rgba(86, 0, 232, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_bd {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.141));
  position: absolute;
  overflow: visible;
  width: 159.387px;
  height: 49px;
  left: 0px;
  top: 0px;
}
#n__Color_bd {
  fill: transparent;
}
.n__Color_bd {
  position: absolute;
  overflow: visible;
  width: 152.387px;
  height: 42px;
  left: 0px;
  top: 0px;
}
#CANCLE {
  left: 46.774px;
  top: 12px;
  position: absolute;
  overflow: visible;
  width: 60px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(86, 0, 232, 1);
  letter-spacing: 0.89px;
}
#Group_50 {
  position: absolute;
  width: 173px;
  height: 53px;
  left: 96px;
  top: 404px;
  overflow: visible;
}
#Desk_B2_ {
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 72px;
  white-space: nowrap;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: rgba(38, 50, 56, 1);
}
#CUBICLE {
  left: 93px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 81px;
  white-space: nowrap;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(38, 50, 56, 1);
  letter-spacing: 0.8px;
}
#BYDB2007 {
  left: 39px;
  top: 29px;
  position: absolute;
  overflow: visible;
  width: 97px;
  white-space: nowrap;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(38, 50, 56, 1);
  letter-spacing: 0.8px;
}
#Path_149 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_149 {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 10.426px;
  left: 79.059px;
  top: 8.287px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Booked_your_Desk {
  left: 36px;
  top: 145px;
  position: absolute;
  overflow: visible;
  width: 319px;
  white-space: nowrap;
  line-height: 40px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  color: rgba(86, 0, 232, 1);
}
#You_have_successfully {
  left: 106px;
  top: 122px;
  position: absolute;
  overflow: visible;
  width: 167px;
  white-space: nowrap;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(38, 50, 56, 1);
}
#Working-bro_1 {
  position: absolute;
  width: 197.621px;
  height: 126.273px;
  left: 96px;
  top: 228.424px;
  overflow: visible;
}
#freepik--Plants--inject-111 {
  position: absolute;
  width: 103.438px;
  height: 126.273px;
  left: 21.42px;
  top: 0px;
  overflow: visible;
}
#Path_150 {
  fill: rgba(86, 0, 232, 1);
}
.Path_150 {
  overflow: visible;
  position: absolute;
  width: 9.302px;
  height: 19.481px;
  left: 66.744px;
  top: 70.598px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_151 {
  fill: rgba(86, 0, 232, 1);
}
.Path_151 {
  overflow: visible;
  position: absolute;
  width: 14.189px;
  height: 16.536px;
  left: 68.59px;
  top: 78.996px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_152 {
  fill: rgba(86, 0, 232, 1);
}
.Path_152 {
  overflow: visible;
  position: absolute;
  width: 12.866px;
  height: 11.026px;
  left: 69.566px;
  top: 92.176px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_153 {
  fill: rgba(86, 0, 232, 1);
}
.Path_153 {
  overflow: visible;
  position: absolute;
  width: 12.87px;
  height: 11.026px;
  left: 70.15px;
  top: 101.397px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_154 {
  fill: rgba(86, 0, 232, 1);
}
.Path_154 {
  overflow: visible;
  position: absolute;
  width: 19.156px;
  height: 10.006px;
  left: 48.841px;
  top: 83.847px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_155 {
  fill: rgba(86, 0, 232, 1);
}
.Path_155 {
  overflow: visible;
  position: absolute;
  width: 20.238px;
  height: 7.1px;
  left: 48.797px;
  top: 93.38px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_156 {
  fill: rgba(86, 0, 232, 1);
}
.Path_156 {
  overflow: visible;
  position: absolute;
  width: 17.203px;
  height: 5.745px;
  left: 52.547px;
  top: 102.317px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_157 {
  fill: rgba(86, 0, 232, 1);
}
.Path_157 {
  overflow: visible;
  position: absolute;
  width: 16.844px;
  height: 6.916px;
  left: 53.121px;
  top: 107.883px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_158 {
  fill: rgba(86, 0, 232, 1);
}
.Path_158 {
  overflow: visible;
  position: absolute;
  width: 12.156px;
  height: 22.13px;
  left: 53.471px;
  top: 63.924px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_159 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_159 {
  overflow: visible;
  position: absolute;
  width: 9.302px;
  height: 19.481px;
  left: 66.744px;
  top: 70.598px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_160 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_160 {
  overflow: visible;
  position: absolute;
  width: 14.189px;
  height: 16.536px;
  left: 68.59px;
  top: 78.996px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_161 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_161 {
  overflow: visible;
  position: absolute;
  width: 12.866px;
  height: 11.026px;
  left: 69.566px;
  top: 92.176px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_162 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_162 {
  overflow: visible;
  position: absolute;
  width: 12.87px;
  height: 11.026px;
  left: 70.15px;
  top: 101.397px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_163 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_163 {
  overflow: visible;
  position: absolute;
  width: 19.156px;
  height: 10.006px;
  left: 48.841px;
  top: 83.847px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_164 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_164 {
  overflow: visible;
  position: absolute;
  width: 20.238px;
  height: 7.1px;
  left: 48.797px;
  top: 93.38px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_165 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_165 {
  overflow: visible;
  position: absolute;
  width: 17.203px;
  height: 5.745px;
  left: 52.547px;
  top: 102.317px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_166 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_166 {
  overflow: visible;
  position: absolute;
  width: 16.844px;
  height: 6.916px;
  left: 53.121px;
  top: 107.883px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_167 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_167 {
  overflow: visible;
  position: absolute;
  width: 12.156px;
  height: 22.13px;
  left: 53.471px;
  top: 63.924px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_168 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_168 {
  overflow: visible;
  position: absolute;
  width: 13.254px;
  height: 54.584px;
  left: 57.733px;
  top: 69.957px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_104 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_104 {
  overflow: visible;
  position: absolute;
  width: 5.531px;
  height: 14.984px;
  left: 67.062px;
  top: 76.185px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_105 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_105 {
  overflow: visible;
  position: absolute;
  width: 9.682px;
  height: 11.903px;
  left: 68.54px;
  top: 84.788px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_106 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_106 {
  overflow: visible;
  position: absolute;
  width: 13.474px;
  height: 6.231px;
  left: 55.497px;
  top: 88.415px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_107 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_107 {
  overflow: visible;
  position: absolute;
  width: 10.443px;
  height: 8.253px;
  left: 69.622px;
  top: 95.781px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_108 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_108 {
  overflow: visible;
  position: absolute;
  width: 10.7px;
  height: 2.927px;
  left: 59.309px;
  top: 97.852px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_109 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_109 {
  overflow: visible;
  position: absolute;
  width: 8.457px;
  height: 2.064px;
  left: 61.998px;
  top: 106.203px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_110 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_110 {
  overflow: visible;
  position: absolute;
  width: 6.169px;
  height: 5.634px;
  left: 70.235px;
  top: 107.697px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_111 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_111 {
  overflow: visible;
  position: absolute;
  width: 9.642px;
  height: 3.105px;
  left: 61.4px;
  top: 112.137px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_169 {
  fill: rgba(86, 0, 232, 1);
}
.Path_169 {
  overflow: visible;
  position: absolute;
  width: 4.535px;
  height: 13.294px;
  left: 87.203px;
  top: 95.261px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_170 {
  fill: rgba(86, 0, 232, 1);
}
.Path_170 {
  overflow: visible;
  position: absolute;
  width: 4.158px;
  height: 13.505px;
  left: 81.382px;
  top: 97.448px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_171 {
  fill: rgba(86, 0, 232, 1);
}
.Path_171 {
  overflow: visible;
  position: absolute;
  width: 4.309px;
  height: 10.175px;
  left: 77.241px;
  top: 104.663px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_172 {
  fill: rgba(86, 0, 232, 1);
}
.Path_172 {
  overflow: visible;
  position: absolute;
  width: 4.31px;
  height: 10.174px;
  left: 73.609px;
  top: 109.556px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_173 {
  fill: rgba(86, 0, 232, 1);
}
.Path_173 {
  overflow: visible;
  position: absolute;
  width: 13.395px;
  height: 4.31px;
  left: 85.646px;
  top: 109.632px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_174 {
  fill: rgba(86, 0, 232, 1);
}
.Path_174 {
  overflow: visible;
  position: absolute;
  width: 12.777px;
  height: 6.142px;
  left: 82.842px;
  top: 113.076px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_175 {
  fill: rgba(86, 0, 232, 1);
}
.Path_175 {
  overflow: visible;
  position: absolute;
  width: 10.712px;
  height: 5.441px;
  left: 79.738px;
  top: 117.009px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_176 {
  fill: rgba(86, 0, 232, 1);
}
.Path_176 {
  overflow: visible;
  position: absolute;
  width: 11.075px;
  height: 4.489px;
  left: 77.049px;
  top: 120.811px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_177 {
  fill: rgba(86, 0, 232, 1);
}
.Path_177 {
  overflow: visible;
  position: absolute;
  width: 13.63px;
  height: 9.821px;
  left: 89.808px;
  top: 97.296px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_178 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_178 {
  overflow: visible;
  position: absolute;
  width: 4.535px;
  height: 13.294px;
  left: 87.203px;
  top: 95.261px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_179 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_179 {
  overflow: visible;
  position: absolute;
  width: 4.158px;
  height: 13.505px;
  left: 81.382px;
  top: 97.448px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_180 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_180 {
  overflow: visible;
  position: absolute;
  width: 4.309px;
  height: 10.175px;
  left: 77.241px;
  top: 104.663px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_181 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_181 {
  overflow: visible;
  position: absolute;
  width: 4.31px;
  height: 10.174px;
  left: 73.609px;
  top: 109.556px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_182 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_182 {
  overflow: visible;
  position: absolute;
  width: 13.395px;
  height: 4.31px;
  left: 85.646px;
  top: 109.632px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_183 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_183 {
  overflow: visible;
  position: absolute;
  width: 12.777px;
  height: 6.142px;
  left: 82.842px;
  top: 113.076px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_184 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_184 {
  overflow: visible;
  position: absolute;
  width: 10.712px;
  height: 5.441px;
  left: 79.738px;
  top: 117.009px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_185 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_185 {
  overflow: visible;
  position: absolute;
  width: 11.075px;
  height: 4.489px;
  left: 77.049px;
  top: 120.811px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_186 {
  opacity: 0.5;
  fill: rgba(255, 255, 255, 1);
}
.Path_186 {
  overflow: visible;
  position: absolute;
  width: 13.63px;
  height: 9.821px;
  left: 89.808px;
  top: 97.296px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_187 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_187 {
  overflow: visible;
  position: absolute;
  width: 26.738px;
  height: 26.475px;
  left: 74.104px;
  top: 100.809px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_112 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_112 {
  overflow: visible;
  position: absolute;
  width: 3.448px;
  height: 10.32px;
  left: 87.379px;
  top: 99.238px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_113 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_113 {
  overflow: visible;
  position: absolute;
  width: 1.672px;
  height: 9.909px;
  left: 83.758px;
  top: 101.999px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_114 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_114 {
  overflow: visible;
  position: absolute;
  width: 9.661px;
  height: 2.474px;
  left: 85.628px;
  top: 110.205px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_115 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_115 {
  overflow: visible;
  position: absolute;
  width: 3.553px;
  height: 8.313px;
  left: 78.776px;
  top: 107.403px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_116 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_116 {
  overflow: visible;
  position: absolute;
  width: 7.123px;
  height: 3.377px;
  left: 82.759px;
  top: 113.234px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_117 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_117 {
  overflow: visible;
  position: absolute;
  width: 5.622px;
  height: 3.062px;
  left: 79.791px;
  top: 117.217px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_118 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_118 {
  overflow: visible;
  position: absolute;
  width: 2.088px;
  height: 5.287px;
  left: 76.515px;
  top: 115.3px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_119 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 0.75px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_119 {
  overflow: visible;
  position: absolute;
  width: 6.563px;
  height: 2.885px;
  left: 76.999px;
  top: 120.843px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_188 {
  fill: rgba(86, 0, 232, 1);
}
.Path_188 {
  overflow: visible;
  position: absolute;
  width: 10.323px;
  height: 16.866px;
  left: 0.026px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_189 {
  fill: rgba(38, 50, 56, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_189 {
  overflow: visible;
  position: absolute;
  width: 12.034px;
  height: 13.425px;
  left: 0px;
  top: 15.563px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#freepik--Clock--inject-111 {
  position: absolute;
  width: 44.402px;
  height: 44.402px;
  left: 153.219px;
  top: 6.677px;
  overflow: visible;
}
#Ellipse_17 {
  fill: rgba(38, 50, 56, 1);
}
.Ellipse_17 {
  width: 38.461px;
  height: 38.461px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 2.9706, 2.9706)
    rotate(-80.28deg);
  transform-origin: center;
}
#Ellipse_18 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_18 {
  position: absolute;
  overflow: visible;
  width: 31.909px;
  height: 31.909px;
  left: 6.749px;
  top: 6.747px;
}
#Path_190 {
  fill: rgba(38, 50, 56, 1);
}
.Path_190 {
  overflow: visible;
  position: absolute;
  width: 2.751px;
  height: 2.751px;
  left: 20.828px;
  top: 20.826px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_191 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_191 {
  overflow: visible;
  position: absolute;
  width: 13.781px;
  height: 8.168px;
  left: 17.598px;
  top: 22.202px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#freepik--filing-cabinet--injec {
  position: absolute;
  width: 55.888px;
  height: 96.307px;
  left: 2.442px;
  top: 27.906px;
  overflow: visible;
}
#Rectangle_101 {
  fill: rgba(38, 50, 56, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_101 {
  position: absolute;
  overflow: visible;
  width: 56.888px;
  height: 97.307px;
  left: 0px;
  top: 0px;
}
#Rectangle_102 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_102 {
  position: absolute;
  overflow: visible;
  width: 37.205px;
  height: 97.307px;
  left: 19.684px;
  top: 0px;
}
#Rectangle_103 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_103 {
  position: absolute;
  overflow: visible;
  width: 32.635px;
  height: 24.197px;
  left: 21.791px;
  top: 3.163px;
}
#Rectangle_104 {
  fill: rgba(38, 50, 56, 1);
}
.Rectangle_104 {
  position: absolute;
  overflow: visible;
  width: 12.652px;
  height: 4.219px;
  left: 31.28px;
  top: 12.652px;
}
#Rectangle_105 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_105 {
  position: absolute;
  overflow: visible;
  width: 32.635px;
  height: 24.197px;
  left: 21.791px;
  top: 30.229px;
}
#Rectangle_106 {
  fill: rgba(38, 50, 56, 1);
}
.Rectangle_106 {
  position: absolute;
  overflow: visible;
  width: 12.652px;
  height: 4.219px;
  left: 31.28px;
  top: 39.718px;
}
#Rectangle_107 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_107 {
  position: absolute;
  overflow: visible;
  width: 32.635px;
  height: 24.197px;
  left: 21.791px;
  top: 57.295px;
}
#Rectangle_108 {
  fill: rgba(38, 50, 56, 1);
}
.Rectangle_108 {
  position: absolute;
  overflow: visible;
  width: 12.652px;
  height: 4.219px;
  left: 31.28px;
  top: 66.784px;
}
#freepik--Character--inject-111 {
  position: absolute;
  width: 101.925px;
  height: 88.224px;
  left: 64.323px;
  top: 33.999px;
  overflow: visible;
}
#Path_192 {
  fill: rgba(38, 50, 56, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_192 {
  overflow: visible;
  position: absolute;
  width: 27.042px;
  height: 24.456px;
  left: 51.785px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_193 {
  fill: rgba(86, 0, 232, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_193 {
  overflow: visible;
  position: absolute;
  width: 61.53px;
  height: 59.953px;
  left: 37.228px;
  top: 29.276px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_194 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_194 {
  overflow: visible;
  position: absolute;
  width: 5.647px;
  height: 12.622px;
  left: 81.767px;
  top: 46.58px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_195 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_195 {
  overflow: visible;
  position: absolute;
  width: 6.5px;
  height: 4.306px;
  left: 82.406px;
  top: 56.862px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_196 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_196 {
  overflow: visible;
  position: absolute;
  width: 2.082px;
  height: 2.875px;
  left: 80.871px;
  top: 54.225px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_197 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_197 {
  overflow: visible;
  position: absolute;
  width: 5.156px;
  height: 13.131px;
  left: 48.015px;
  top: 47.255px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Line_120 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Line_120 {
  overflow: visible;
  position: absolute;
  width: 1.628px;
  height: 3.688px;
  left: 49.061px;
  top: 43.067px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_198 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_198 {
  overflow: visible;
  position: absolute;
  width: 5.572px;
  height: 8.336px;
  left: 55.281px;
  top: 20.086px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_199 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_199 {
  overflow: visible;
  position: absolute;
  width: 3.316px;
  height: 10.349px;
  left: 76.116px;
  top: 15.891px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_200 {
  fill: rgba(38, 50, 56, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_200 {
  overflow: visible;
  position: absolute;
  width: 12.065px;
  height: 44.174px;
  left: 62.98px;
  top: 44.947px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_201 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_201 {
  overflow: visible;
  position: absolute;
  width: 20.288px;
  height: 27.037px;
  left: 58.952px;
  top: 25.997px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_202 {
  fill: rgba(86, 0, 232, 1);
}
.Path_202 {
  overflow: visible;
  position: absolute;
  width: 10.706px;
  height: 18.939px;
  left: 62.372px;
  top: 28.341px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_52 {
  position: absolute;
  width: 10.706px;
  height: 18.939px;
  left: 62.372px;
  top: 28.341px;
  overflow: visible;
}
#Path_205 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_205 {
  overflow: visible;
  position: absolute;
  width: 11.708px;
  height: 19.946px;
  left: 62.372px;
  top: 28.341px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_206 {
  fill: rgba(255, 255, 255, 1);
}
.Path_206 {
  overflow: visible;
  position: absolute;
  width: 19.39px;
  height: 30.08px;
  left: 57.658px;
  top: 8.192px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_53 {
  position: absolute;
  width: 19.39px;
  height: 30.08px;
  left: 57.658px;
  top: 8.192px;
  overflow: visible;
}
#Path_216 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_216 {
  overflow: visible;
  position: absolute;
  width: 20.413px;
  height: 31.093px;
  left: 57.658px;
  top: 8.192px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_217 {
  fill: rgba(38, 50, 56, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_217 {
  overflow: visible;
  position: absolute;
  width: 25.007px;
  height: 17.942px;
  left: 54.779px;
  top: 1.891px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_218 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_218 {
  overflow: visible;
  position: absolute;
  width: 7.336px;
  height: 11.221px;
  left: 68.451px;
  top: 6.048px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_219 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_219 {
  overflow: visible;
  position: absolute;
  width: 18.391px;
  height: 6.735px;
  left: 56.031px;
  top: 6.048px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_220 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_220 {
  overflow: visible;
  position: absolute;
  width: 5.814px;
  height: 2.775px;
  left: 53.635px;
  top: 12.348px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_221 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_221 {
  overflow: visible;
  position: absolute;
  width: 14.435px;
  height: 12.654px;
  left: 34.215px;
  top: 63.059px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_222 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_222 {
  overflow: visible;
  position: absolute;
  width: 10.064px;
  height: 4.953px;
  left: 0px;
  top: 79.21px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_223 {
  fill: rgba(255, 255, 255, 1);
}
.Path_223 {
  overflow: visible;
  position: absolute;
  width: 35.551px;
  height: 18.421px;
  left: 8.889px;
  top: 67.614px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_54 {
  position: absolute;
  width: 35.551px;
  height: 18.421px;
  left: 8.889px;
  top: 67.614px;
  overflow: visible;
}
#Path_227 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_227 {
  overflow: visible;
  position: absolute;
  width: 36.551px;
  height: 19.424px;
  left: 8.889px;
  top: 67.614px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_228 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_228 {
  overflow: visible;
  position: absolute;
  width: 5.346px;
  height: 8.766px;
  left: 3.982px;
  top: 76.768px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_229 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_229 {
  overflow: visible;
  position: absolute;
  width: 5.041px;
  height: 9.569px;
  left: 6.412px;
  top: 76.103px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_230 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_230 {
  overflow: visible;
  position: absolute;
  width: 8.519px;
  height: 9.963px;
  left: 8.416px;
  top: 75.082px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_231 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_231 {
  overflow: visible;
  position: absolute;
  width: 9.002px;
  height: 9.76px;
  left: 14.75px;
  top: 75.113px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_232 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_232 {
  overflow: visible;
  position: absolute;
  width: 6.447px;
  height: 2.897px;
  left: 13.773px;
  top: 72.6px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_233 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_233 {
  overflow: visible;
  position: absolute;
  width: 5.296px;
  height: 3.209px;
  left: 15.859px;
  top: 71.765px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_234 {
  fill: rgba(86, 0, 232, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_234 {
  overflow: visible;
  position: absolute;
  width: 15.608px;
  height: 34.988px;
  left: 85.539px;
  top: 37.131px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_235 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_235 {
  overflow: visible;
  position: absolute;
  width: 17.934px;
  height: 11.358px;
  left: 84.907px;
  top: 64.126px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_236 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_236 {
  overflow: visible;
  position: absolute;
  width: 19.932px;
  height: 6.188px;
  left: 26.011px;
  top: 78.172px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_237 {
  fill: rgba(255, 255, 255, 1);
}
.Path_237 {
  overflow: visible;
  position: absolute;
  width: 71.123px;
  height: 18.952px;
  left: 27.62px;
  top: 67.975px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Group_55 {
  position: absolute;
  width: 71.123px;
  height: 18.952px;
  left: 27.62px;
  top: 67.975px;
  overflow: visible;
}
#Path_241 {
  fill: transparent;
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_241 {
  overflow: visible;
  position: absolute;
  width: 72.13px;
  height: 19.981px;
  left: 27.62px;
  top: 67.975px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#freepik--Device--inject-111 {
  position: absolute;
  width: 187.549px;
  height: 42.783px;
  left: 0px;
  top: 83.124px;
  overflow: visible;
}
#Rectangle_109 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_109 {
  width: 22.857px;
  height: 1.066px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 43.6587, 37.7448)
    rotate(180deg);
  transform-origin: center;
}
#Rectangle_110 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_110 {
  width: 49.269px;
  height: 31.774px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 26.0819, 0) rotate(180deg);
  transform-origin: center;
}
#Rectangle_111 {
  fill: rgba(38, 50, 56, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_111 {
  width: 46.58px;
  height: 31.774px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 26.0819, 0) rotate(180deg);
  transform-origin: center;
}
#Rectangle_112 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_112 {
  width: 10.782px;
  height: 24.531px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 43.1281, 14.7641)
    rotate(180deg);
  transform-origin: center;
}
#Rectangle_113 {
  fill: rgba(38, 50, 56, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_113 {
  width: 10.782px;
  height: 24.531px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 42.1339, 14.7641)
    rotate(180deg);
  transform-origin: center;
}
#Path_242 {
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_242 {
  overflow: visible;
  position: absolute;
  width: 12.75px;
  height: 17.794px;
  left: 41.881px;
  top: 15.058px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_114 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_114 {
  width: 33.005px;
  height: 1.726px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 75.6905, 37.1781)
    rotate(180deg);
  transform-origin: center;
}
#Rectangle_115 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_115 {
  width: 41.299px;
  height: 1.726px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 58.8658, 37.1781)
    rotate(180deg);
  transform-origin: center;
}
#Path_243 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_243 {
  overflow: visible;
  position: absolute;
  width: 17.82px;
  height: 3.38px;
  left: 138.374px;
  top: 36.539px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_244 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_244 {
  overflow: visible;
  position: absolute;
  width: 17.82px;
  height: 3.38px;
  left: 126.582px;
  top: 36.663px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_245 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Path_245 {
  overflow: visible;
  position: absolute;
  width: 40.811px;
  height: 3.436px;
  left: 130.25px;
  top: 36.593px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Rectangle_116 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_116 {
  position: absolute;
  overflow: visible;
  width: 17.82px;
  height: 2.463px;
  left: 113.43px;
  top: 37.456px;
}
#Rectangle_117 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_117 {
  width: 173.146px;
  height: 3.895px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 14.4035, 38.8884)
    rotate(180deg);
  transform-origin: center;
}
#Rectangle_118 {
  fill: rgba(38, 50, 56, 1);
  stroke: rgba(38, 50, 56, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_118 {
  width: 125.407px;
  height: 3.895px;
  position: absolute;
  overflow: visible;
  transform: translate(0px, 0px) matrix(1, 0, 0, 1, 0, 38.8884) rotate(180deg);
  transform-origin: center;
}
#n_Container_l_Color {
  fill: transparent;
  stroke: rgba(98, 0, 238, 1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.n_Container_l_Color {
  position: absolute;
  overflow: visible;
  width: 328px;
  height: 56px;
  left: 31px;
  top: 497px;
}
#n_Input_text {
  left: 47.5px;
  top: 514.5px;
  position: absolute;
  overflow: visible;
  width: 117px;
  white-space: nowrap;
  line-height: 24px;
  margin-top: -4px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.737);
  letter-spacing: 0.09375px;
}
#Top_label {
  position: absolute;
  width: 79px;
  height: 16px;
  left: 44.5px;
  top: 488px;
  overflow: visible;
  padding: -7px 4px -5px 3px;
}
#top_border_with_background_col {
  fill: rgba(245, 245, 245, 1);
}
.top_border_with_background_col {
  position: absolute;
  overflow: visible;
  width: 79px;
  height: 4px;
  left: 0px;
  top: 7px;
}
#n_Label {
  left: 3px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 73px;
  white-space: nowrap;
  line-height: 16px;
  margin-top: -2px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(98, 0, 238, 1);
  letter-spacing: 0.3333333206176758px;
}
#iconalerterror_24px {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 322px;
  top: 515px;
  overflow: visible;
}
#Boundary {
  fill: transparent;
}
.Boundary {
  position: absolute;
  overflow: visible;
  width: 22px;
  height: 22px;
  left: 0px;
  top: 0px;
}
#n_Color {
  fill: rgba(86, 0, 232, 1);
}
.n_Color {
  overflow: visible;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#qr {
  position: absolute;
  width: 95px;
  height: 95px;
  left: 260px;
  top: 606px;
  overflow: visible;
}
#Check_In_1000_AM_IST_12_Floor_ {
  left: 31px;
  top: 612px;
  position: absolute;
  overflow: visible;
  width: 153px;
  white-space: nowrap;
  line-height: 21px;
  margin-top: -2.5px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.737);
  letter-spacing: 0.09375px;
}
